<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocoffee</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="menu">
        <nav class="menu-container">
            <a href="/">
                <img src="/logo.svg" alt="logo de Ocoffee">OCoffee</a>
              <ul class="menu-listing">
                <li><a href="/">Accueil</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                <li><a href="/apropos">A propos</a></li>
                <li><a href="">Cafés favoris</a></li>
                <li><a href="/admin/coffee">Admin</a></li>
            </ul>
        </nav>
    </header>