<%- include('./partials/header') %>
    <main>
        <h1 class="titreCatalogue">NOTRE CATALOGUE</h1>

        <section class="articles">
            <article>
                <img src="/coffees/100955890.png">
                <p>Café du Pérou</p>
                <a  href="/detail">Voir le détail</a>
            </article>

            <article>
                <img src="/coffees/100955894.png">
                <p>Café du Pérou</p>
                <a  href="/detail">Voir le détail</a>
            </article>

            <article>
                <img src="/coffees/105589090.png">
                <p>Café du Pérou</p>
                <a href="/detail">Voir le détail</a>
            </article>
            
            <a class="btnCatalog" href="">Voir tout le catalogue</a>

    </main>
    <%- include('./partials/footer') %>