<%- include('./partials/header') %>

    <main>
        <h1 class="titreCatalogue">Détails du produit</h1>

        <article class="detail-article">
            <h4>Publié le 13/11/2024</h4>
            <h2>Café du Pérou</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illo esse consequatur dolor, amet assumenda, soluta ratione nihil labore rerum laudantium! Delectus non voluptatem ut recusandae, iusto assumenda itaque architecto!</p>
            <a href="/catalogue">Catalogue</a>
        </article>
    </main>

    <%- include('./partials/footer') %>

