body {
    background-color: #825432;
    font-family: 'fantasy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

header a {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #3E1E04;
    font-size: 2.5rem;
    text-decoration: none;
}

.menu-listing {
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0.5rem;
    margin-right: 6rem;
}

.menu-listing a {
    text-decoration: none;
    color: #F7DBB9;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.5rem;
}

.homepage {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #3E1E04;
    text-align: left;
}

p {
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 1.5rem;
    text-align: left;
}

.cups {
    margin-right: 2rem;
    height: 50%;
}

.catalogLink {
    font-size: 2.5rem;
    margin-top: 2rem;
    background-color: #F7DBB9;
    border-radius: 25px;
    padding: 0.4rem;
    text-decoration: none;
    color: #3E1E04;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: #3E1E04;
    text-align: left;
}

h3 {
    color: #F7DBB9;
    font-size: 2rem;
    margin-left: 1rem;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}

article {
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: auto;
    background-color: #3E1E04;
    margin-bottom: 4rem;
    padding: 2rem;
    box-sizing: border-box;
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

article p {
    margin-bottom: 1rem;
    color: #F7DBB9;
}

article a {
    text-decoration: none;
    color: #3E1E04;
    font-size: 2rem;
    background-color: #F7DBB9;
    padding: 0.2rem 1rem;
    border-radius: 25px;
}

/** Catalogue Section */
.titreCatalogue {
    background-image: url('/coffees/891009545.png');
    background-size: cover;
    color: wheat;
    padding: 10rem;
    text-align: center;
    margin-bottom: 5rem;
}

.btnCatalog {
    text-decoration: none;
    color: #3E1E04;
    font-size: 2rem;
    border-radius: 25px;
    background-color: #F7DBB9;
    padding: 1.5rem;
    margin-top: 2rem;
}

/** Form Section */
form {
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label {
    font-size: 1.5rem;
    color: #F7DBB9;
    margin-bottom: 8px;
}

input {
    background-color: #3E1E04;
    color: #F7DBB9;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

/** Detail Section */
.detail-article {
    width: 50%;
    height: 38rem;
    background-color: #3E1E04;
    margin: 2rem auto;
    background-image: url('/coffees/958090105.png');
    background-size: cover;
    color: #F7DBB9;
    padding: 2rem;
    box-sizing: border-box;
}

.detail-article h3 {
    margin-top: 2rem;
}

/** Category Section */
.h2Category {
    color: #F7DBB9;
}

/** Admin Section */
.formAdmin {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.addCoffeeForm,
.DeleteCoffeeForm {
    width: 45%;
    margin-top: 2rem;
}

/** Footer */
footer {
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 1280px) {
    h1, h2, p {
        margin: 2rem;
        font-size: 2rem;
    }

    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .cups {
        display: none;
    }

    .catalogLink {
        font-size: 2rem;
    }

    .articles {
        display: block;
        margin: 1rem;
    }

    article {
        width: 90%;
        margin: 1rem auto;
    }

    .btnCatalog {
        font-size: 2rem;
        width: 100%;
    }

    form {
        width: 100%;
    }

    .titreCatalogue {
        display: none;
    }

    .detail-article {
        width: 90%;
        margin: 2rem auto;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 1.5rem;
    }

    .menu-listing {
        flex-direction: column;
        align-items: center;
    }

    .menu-listing a {
        font-size: 1.8rem;
    }

    article {
        width: 100%;
    }

    .btnCatalog {
        font-size: 1.8rem;
    }
}